<div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Support Us</h3>
            </div>
    
            <ul class="list-unstyled components">
                <p>Friends of Ethiopian Space Program</p>
                <li>
                    <a href="{% url 'projects' %}" class="active">Projects</a>
                </li>
                {% if user.is_authenticated %}

                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Join</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </nav>
    
    </div>